#main,
.collection .pads .remove {
  display: none;
}

.collection {
  margin: 30px 0;
}

.collection .pads {
  margin-bottom: 20px;
}

.collection .pads .name {
  color: #000;
}

.collection .pads .pad.highlight {
  width: 0px;
  height: 0px;
  border-left: 24px solid darkgrey;
  border-right: 24px solid darkgrey;
  border-top: 20px solid darkgrey;
  border-bottom: 20px solid darkgrey;
}

.collection .pads.pads16 .pad.highlight {
  width: 0px;
  height: 0px;
  border-left: 18px solid darkgrey;
  border-right: 17px solid darkgrey;
  border-top: 18px solid darkgrey;
  border-bottom: 17px solid darkgrey;
}