body {
  padding: 10px;
  font-family: "Droid", sans-serif;
  font-size: 14px;
}

h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 40px;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

.options {
  float: left;
  margin-right: 10px;
  position: relative;
}

.options fieldset {
  float: left;
  width: 100px;
  margin-right: 10px;
}

.options fieldset#layout {
  position: absolute;
  bottom: 0;
  left: 0;
}

.options fieldset label {
  display: block;
  margin-bottom: 4px;
  height: 23px;
}

.options fieldset label .ui-button-text {
  padding: 0;
  line-height: 23px;
}

.pads {
  width: 480px;
  float: left;
}

.current .pads.pads16 .pad {
  width: 108px;
}

.pads .pad {
  position: relative;
  float: left;
  width: 148px;
  height: 98px;
  line-height: 100px;
  text-align: center;
  background: #eee;
  color: #E8E8E8;
  margin: 0 10px 10px 0;
  font-size: 90px;
  border: 1px solid darkgrey;
}

.pads .pad .interval {
  display: block;
  width: 120px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: right;
}

.pads .pad .note {
  font-size: 10px;
}

.pads .pad.highlight {
  color: #000;
  background: #1ba9fc;
}

/*collection*/

.collection {
  padding: 30px 0;
}

.collection .pads {
  width: 172px;
  margin-right: 20px;
  position: relative;
  padding-bottom: 20px;
}

.collection .pads .name {
  font-weight: bold;
}

.collection .pads .remove {
  position: absolute;
  right: 20px;
  top: 0;
  text-decoration: none;
  color: #000;
}

.collection .pads .pad {
  width: 46px;
  height: 38px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.collection .pads.pads16 .pad {
  width: 33px;
  height: 33px;
}

a#add,
a#clear {
  background: #eee;
  display: block;
  width: 100px;
  height: 80px;
  line-height: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  float: left;
  margin-top: 330px;
  color: #ccc;
  margin-right: 10px;
}

a#add:hover,
a#clear:hover {
  color: #aaa;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}