body {
  padding: 10px;
  font-family: "Droid", sans-serif;
  font-size: 12px;
}

h1{
  font-size: 32px;
}

p{
  margin-bottom: 40px;
}

.wrap{
  width: 960px;
  margin: 0 auto;
}

.options {
  float: left;
  margin-right: 20px;
}

.pads {
  width: 440px;
  float: left;
}

.pads .pad {
  position: relative;
  float: left;
  width: 135px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #eee;
  color: #E8E8E8;
  margin: 0 10px 10px 0;
  font-size: 90px;
}

.pads .pad .interval {
  display: block;
  width: 120px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: right;
}

.pads .pad .note {
  font-size: 10px;
}

.pads .pad.highlight {
  color: #000;
}

.pads .pad.highlight[data-interval="unison"] {
  background: #EBB035;
}

.pads .pad.highlight[data-interval="minor-second"],
.pads .pad.highlight[data-interval="major-second"] {
  background: #52bbd7;
}

.pads .pad.highlight[data-interval="minor-third"],
.pads .pad.highlight[data-interval="major-third"] {
  background: #2fa973;
}

.pads .pad.highlight[data-interval="fourth"],
.pads .pad.highlight[data-interval="augmented-fourth"] {
  background: #EC6C3F;
}

.pads .pad.highlight[data-interval="tritone"] {
  background: #78659a;
}

.pads .pad.highlight[data-interval="diminished-fifth"],
.pads .pad.highlight[data-interval="fifth"] {
  background: #C3C3E5;
}

.pads .pad.highlight[data-interval="minor-sixth"],
.pads .pad.highlight[data-interval="major-sixth"] {
  background: #d4d1ff;
}

.pads .pad.highlight[data-interval="minor-seventh"],
.pads .pad.highlight[data-interval="major-seventh"] {
  background: #8C489F;
}

.clear {
  clear: both;
}