@import "compass/reset";

@import "foundation/variables";
@import "foundation/components/global";
//@import "foundation/components/visibility";
//@import "foundation/components/buttons";
//@import "foundation/components/reveal";
//@import "foundation/components/forms";


@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/transform";

@import 'joyride-2.0.3';

$experimental-support-for-svg: true;

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #fff;
  @include background(linear-gradient(-45deg, #2144fb 0%, #3862fd 50%, #4f81ff 100%));
  background-color: #4f81ff;
  overflow-x: hidden;
}

button {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 25px;
}

p.intro {
  width: 265px;
  float: right;
  font-size: 13px;
  line-height: 17px;
}

a {
  color: #fff;
  text-decoration: underline;
}

body > #main {
  padding-top: 60px;
}

body > #main > .top {
  border-bottom: 1px solid #90acff;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.wrap {
  width: 860px;
  margin: 0 auto;
}

.options {
  float: left;
  margin-right: 10px;
  position: relative;
}

#layout {
  display: inline-block;
  @include box-shadow(1px 1px 0 #90adfe);
  padding: 1px 0 0 1px;
  background: #315cff;
}

#layout button {
  width: 118px;
  height: 38px;
  margin-right: 0;
  display: block;
  float: left;
  border: none;
  @include background(linear-gradient(top, #315cff 0%, #3a6dff 12%, #3869ff 100%));
  background-color: #315cff;
  color: #89a7ff;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

#layout button.active {
  background: #4f81ff;
  filter: none;
  height: 38px;
  width: 120px;
  border: 1px solid #5f8dff;
  color: #fff;
}

#layout button:hover {
  cursor: pointer;
}

#type .left,
#type .right {
  float: left;
}

.options {
  float: left;
  width: 220px;
  margin-right: 10px;
}

.options > div {
  float: left;
}

.options #key {
  margin-right: 17px;
  padding-top: 81px;
}

.options #type {
  padding-top: 81px;
}

.options > div .left {
  float: left;
  margin-right: 4px;
}

.options > div .right {
  float: left;
}

.options button {
  display: block;
  margin-bottom: 4px;
  height: 23px;
  width: 62px;
  background: transparent;
  color: #fff;
  border: 1px solid #a1b7ff;
  font-size: 12px;
}

.options button.active {
  background: #7596ff;
  color: #fff;
  border-color: #a2b9ff;
}

.options button:hover {
  border-color: #5c83ff;
  cursor: pointer;
}

.pads {
  width: 485px;
  float: left;
  padding: 5px 0 0 5px;
}

.pads .pad {
  position: relative;
  float: left;
  width: 110px;
  height: 110px;
  line-height: 100px;
  text-align: center;
  background: #b1c3fe;
  @include opacity(0.5);
  color: #E8E8E8;
  margin: 10px 0 0 10px;
  font-size: 90px;
  @include transition(opacity 0.25s ease-in-out);
}

.current .pads.pads12 .pad {
  width: 150px;
}

.pads .pad.highlight {
  background: #fff;
  @include opacity(1);
}

/*collection*/

.collection {
  padding-bottom: 30px;
  margin-top: 30px;
}

.collection .pads {
  width: 135px;
  margin-right: 20px;
  position: relative;
  padding-bottom: 20px;
}

.collection .pads .pad {
  width: 23px;
  height: 23px;
  margin: 0 5px 5px 0;
  @include box-shadow(none);
  border: 1px solid #bacbff;
  background: transparent;
}

.collection .pads .pad.highlight {
  background: #fff;
}

.collection .pads.pads12 .pad {
  width: 33px;
}

.collection .pads .name {
  font-weight: bold;
  margin-bottom: 5px;
}

.collection .pads .remove {
  display: block;
  position: absolute;
  right: 2px;
  top: 26px;
  text-decoration: none;
  color: #3862fd;
  @include border-radius(1px);
  background: #fff;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  font-size: 16px;
}

.collection .pads .remove:hover {
  @include opacity(0.4);
}

.actions {
  border-top: 1px solid #90acff;
  border-bottom: 1px solid #90acff;
  height: 40px;
  position: relative;
}

.actions button {
  height: 40px;
  border: none;
  display: block;
  float: left;
  font-weight: bold;
  background: transparent;
  border-left: 1px solid #90acff;
  color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 0 40px;
}

.actions button#print {
  border-right: 1px solid #90acff;
}

.actions button:hover {
  cursor: pointer;
  color: #90acff;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

section#mpc_container {
  display: block;
  width: 502px;
  height: 502px;
  position: relative;
  //@include perspective-origin(100% 0%);
  @include perspective(1500px);
  top: 100px;
  left: 350px;
}

#mpc {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  @include transition(transform 1s);
  @include transform-style(preserve-3d);
  @include transform(translateZ(-250px) rotateX(-37deg) rotateY(-15deg));
}

#mpc figure {
  width: 500px;
  height: 500px;
  display: block;
  position: absolute;
  border: 1px solid #fff;
  background: rgba(56, 98, 253, 0.8);
}

#mpc .front {
  height: 85px;
  @include transform(rotateY(0deg) translateZ(250px));
}

#mpc .back {
  height: 85px;
  @include transform(rotateX(180deg) translateZ(250px));
}

#mpc .right {
  height: 85px;
  @include transform(rotateY(90deg) translateZ(250px));
}

#mpc .left {
  height: 85px;
  @include transform(rotateY(-90deg) translateZ(250px));
}

#mpc .top {
  @include transform(rotateX(90deg) translateZ(250px));
}

#mpc .bottom {
  @include transform(rotateX(-90deg) translateZ(-165px));
}

.joyride-tip-guide[data-index="0"] {
  margin-top: 45px;
}

.tour-stop {
  display: inline-block;
}

.no-csstransforms3d #mpc figure {
  display: none;
}

.no-csstransforms3d #mpc figure.top {
  display: block;
  @include transform(none);
}

.no-csstransforms3d section#mpc_container {
  top: -15px;
  left: 250px;
}

.no-csstransforms3d .actions {
  margin-top: 40px;
}

.hidden {
  display: none !important;
}

iframe {
  float: left;
}
